[user]
	name = Nikolay Ponomarev
	email = itsnikolay@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/nikolayponomarev/.gitignore_global
[color]
	ui = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an %C(blue)%ae>%Creset' --abbrev-commit --date=relative
	put = push origin HEAD
	up = pull --rebase --stat
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  lc = log ORIG_HEAD.. --stat --no-merges
  day = "whatchanged --since='1 day ago' -p"
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.5/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autostash = true
[http]
	cookiefile = /Users/nikolayponomarev/.gitcookies
